server {
{% if https_enabled and _ssl_certs_available %}
    listen 443 {{ 'default_server' if default_server else '' }} ssl; 
    listen [::]:443 {{ 'default_server' if default_server else '' }} ssl; ## listen for ipv6
{% endif %}

{% if http_enabled %}
    listen 80 {{ 'default_server' if default_server else '' }};
    listen [::]:80 {{ 'default_server' if default_server else '' }};
{% endif %}

    server_name {{ vhost_names | join(' ') }};
    charset {{ vhost_charset }};
    root {{ vhost_docroot }};
    index {{ vhost_index }};

{% if https_enabled and _ssl_certs_available %}
    include inc_ssl_practices.conf;

{% if http_enabled and https_force_redirect %}
    # Redirect http requests to the equivalent https URL 
    if ($scheme != "https") {
        rewrite ^ https://$host$uri permanent;
    }
{% endif %}

    ssl_certificate {{ _server_cert_file }};
    ssl_certificate_key {{ _server_key_file }};
{% endif %}

    # ---  begin app specific configuration ---

    {{ vhost_app_config }}
}
