# gzip on;		# assuming it's already enabled in main config file

gzip_min_length 2900;	# approx couple TCP/IP packets with a standard MTU of 1500
gzip_types text/html application/json application/javascript application/x-javascript text/css application/octet-stream application/x-font-ttf font/opentype image/svg+xml image/x-icon;
